<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bet Master</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/images/bet.jpg" rel="icon" type="image/png"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<style>
    .etaireia {
        border: 2px solid gray;
        padding: 10px;
        margin: 10px;
        box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
    }

    .no_bullet {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .tick {
        background-image: url("/images/tick.png");
        background-repeat: no-repeat;
        height: 20x;
        padding-left: 44px;
        padding-top: 3px;
    }

    .etaireies {
        border: 1px solid gray;
        padding: 10px;
        margin: 10px;
        box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.3)
    }
</style>
<body style="background-image: url('images/grass.jpg'); background-repeat: no-repeat;
    background-attachment: fixed;">
<div class="container">
    <div id="button"></div>
    <nav class="navbar navbar-dark navbar-expand-md" id="navTop">
        <a class="navbar-brand" href="/" style="width:20%;">
            <img alt="Bet masters" height="50" th:src="@{/images/bet.jpg}" width="50px">Bet Masters
        </a>
        <button class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column" id="navbar">
            <ul class="navbar-nav nav w-100">
                <li class="nav-item">
                    <a class="nav-link" href="/">Στοίχημα</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/stoixhmatikes">Στοιχηματικές</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/highlights">Highlights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/casino">Casino</a>
                </li>
                <form class="form-inline ml-md-auto order-first order-md-last">
                    <li class="nav-item">
                    <li sec:authorize="isAnonymous()">
                        <a href="/registration" id="register" style="text-decoration: none; color:white;"
                           title="Εγγραφή">
                            <img alt="register" height="35" th:src="@{/images/register.png}" width="35">Εγγραφή
                        </a>
                    </li>
                    </li>
                    <li class="nav-item">
                    <li sec:authorize="isAnonymous()">
                        <a href="/login" id="login" style="text-decoration: none; color:white;" title="Σύνδεση">
                            <img alt="register" height="33" th:src="@{/images/login.png}" width="33">Σύνδεση
                        </a>
                    </li>
                    </li>
                    <li class="nav-item">
                    <li sec:authorize="isAuthenticated()">
                                <span sec:authorize="isAuthenticated()" style="text-decoration:none; color:white;">
                                    Welcome, <span sec:authorize="hasRole('ROLE_ADMIN')">(admin) </span><span id="name"
                                                                                                              sec:authentication="principal.lastName">
                                    </span>
                    </li>
                    </li>
                    <li class="nav-item">
                    <li sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/logout}"><span style="color:rgb(196, 18, 78);">Logout</a></span>
                    </li>
                    </li>
                </form>
            </ul>
            <ul class="navbar-nav nav w-100">
                <li class="nav-item">
                    <a class="nav-link" href="/virtualSports">Virtual-Sports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ligkes">Λίγκες</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fullchat">Full Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kouponi">Κουπόνι</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bettingschool">Betting-School</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row mx-md-6 no-gutters">
        <div class="col-md-3">
            <div class="p-3 bg-light" style="min-height:100%;">
                <div class="p-3 border bg-light" sec:authorize="isAuthenticated()">
                    <button class="btn btn-warning"
                            sec:authorize="!hasRole('ROLE_PREMIUM_USER') and !hasRole('ROLE_ADMIN')"><a href="/buy"
                                                                                                        style="text-decoration:none; color:black;">Γίνε
                        PREMIUM χρήστης!</a></button>
                </div>
                <div class="p-3 border bg-light">
                    <div id="notLogged" sec:authorize="isAnonymous()">
                        <h6 class="leftcolumn">Παρακαλώ συνδεθείτε ή εγγραφείτε για να συμμετέχετε στο Chat</h6>
                        <h6 sec:authorize="isAnonymous()"><a class="nav-link" href="/registration">Εγγραφή</a></h6>
                        <h6 sec:authorize="isAnonymous()"><a class="nav-link" href="/login">Σύνδεση</a></h6>
                    </div>
                    <div class="hidden" id="chat-page" sec:authorize="isAuthenticated()">
                        <div hidden id="name" th:text="${#authentication.getPrincipal().getLastName()}"></div>
                        <div class="chat-container">
                            <div class="chat-header" style="height:50px">
                                <h5 id="chath5">Betmasters Chat </h5>
                            </div>
                            <div class="connecting">Connecting...</div>
                            <ul id="messageArea" style="height:275px;   padding: 3px; ">

                            </ul>
                            <form id="messageForm" name="messageForm" nameForm="messageForm" style="padding:0px;">
                                <div class="form-group" style="margin-bottom: 0px;">
                                    <div class="input-group clearfix">
                                        <div class="form-group" style="margin:0; width:100%;">
                                            <input autocomplete="off" class="form-control" id="message"
                                                   placeholder="Type a message..."
                                                   style="width: 100%;" type="text"/>
                                        </div>

                                    </div>
                                    <div class="form-group" style="margin:0;">
                                        <button class="primary" style="width:100%;" type="submit">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br/>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="p-3 bg-light" style="min-height:100%;">
                <div class="p-3 bg-light">
                    <h1>Στοιχηματικές εταιρείες</h1>
                    <div id="controls">
                        <form id="form">
                            <div class="row">
                                <div class="col-md-9">
                                    <input class="fa fa-search glyphicon glyphicon-search form-control form-control-lg"
                                           id="name1" list="etaireia_list" placeholder="&#xf002 Εταιρία πχ Novibet">
                                    <datalist id="etaireia_list">

                                    </datalist>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-dark">Search</button>
                                </div>
                            </div>

                            <input id="vathmologia" max="100" min="88" type="range" value="90"/>
                            <label for="vathmologia">Βαθμολογία:<span id="selected_vathmologia">100</span></label>
                            <br>
                            <span>
                Αξιολόγηση:  
                <select id="rating">
                  <option value="1">1 Star</option>
                  <option value="2">2 Stars</option>
                  <option value="3">3 Stars</option>
                  <option value="4">4 Stars</option>
                  <option selected value="5">5 Stars</option>
                </select>
                </span>
                        </form>
                        <div id="etaireies"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="p-3 border bg-light" style="min-height: 100%">
                <div class="p-3 border bg-light arthra"><h6 class="leftcolumn">Ιστοσελίδες στοιχήματος</h6>
                    <div>
                        <a href="/gkaniota">
                            <img alt="" style="width:40px; height:40px;" th:src="@{/images/ganiota.jpg}">
                            Τι είναι η γκανιότα
                        </a></div>
                    <hr/>
                    <div><a href="/handicap">
                        <img alt="" style="width:40px; height:40px;" th:src="@{/images/handicap.jpg}">
                        Πώς παίζεται το Ασιατικό Χάντικαπ (Asian Handicap)
                    </a></div>
                    <hr/>
                    <div><a href="/tziroi">
                        <img alt="" style="width:40px; height:40px;" th:src="@{/images/betfair.jpg}">
                        Τι σημαίνουν οι τζίροι Betfair στο στοίχημα
                    </a></div>
                    <hr/>
                    <div><a href="/ptwshApodosewn">
                        <img alt="" style="width:40px; height:40px;" th:src="@{/images/ptwshapodosewn.jpg}">
                        Πώς διαβάζεται η πτώση αποδόσεων στο στοίχημα
                    </a></div>
                    <hr/>
                    <div><a href="/oriaBook">
                        <img alt="" style="width:40px; height:40px;" th:src="@{/images/oriabook.png}">
                        Τα όρια των book και πώς να τα αποφεύγετε
                    </a></div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="row">
            <div class="col-md-3" id="info2">
                <img alt="Bet Masters" class="imagefooter" height="80px" th:src="@{/images/bet.jpg}" width="80px"/>
                <ul style="list-style: none; ">
                    <li>
                        <a class="navbar-brand" href="https://www.facebook.com/BetMasters.gr" style="font-size: 15px;"
                           title="Bet Masters on Facebook">
                            <img alt="Facebook" height="20" th:src="@{/images/fb.png}" width="20">
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="https://www.instagram.com/BetMasters.gr" style="font-size: 15px;"
                           title="Bet Masters on Instagram">
                            <img alt="Instagram" height="20" th:src="@{/images/insta.png}" width="20">
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="https://www.twitter.com/BetMasters.gr" style="font-size: 15px;"
                           title="Bet Masters on Twitter">
                            <img alt="Twitter" height="20" th:src="@{/images/twi.png}" width="20">
                            Twitter
                        </a>
                    </li>
                </ul>

                <hr/>
                <h5 class="ypeyth">Υπεύθυνο παιχνίδι</h5>
                <p class="ypeythkeimeno">Στους BetMasters υποστηρίζουμε τον υπεύθυνο
                    στοιχηματισμό και συστήνουμε να παίζετε τυχερά παιχνίδια με μέτρο. Eπισκεφτείτε το
                    www.kethea-alfa.gr για συμβουλές και υποστήριξη. ΚΕΘΕΑ ΑΛΦΑ τηλ 1114.
                </p>
            </div>

            <div class="col-md-9" style="margin-top:20px;">
                <p style="padding-left:35px">Οι Bet Masters βρίσκονται κοντά σας με καθημερινές αναλύσεις αγώνων,<br>
                    προγνωστικά στοιχήματος και
                    ενημέρωση για τις στοιχηματικές και τα καζίνο.</p>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-3 bulletsfooter">
                        <h5 class="nav-link">Στοιχηματικές</h5>
                        <hr style="padding-right:0px; margin-left:30px;"/>
                        <h6><a href="https://www.stoiximan.gr/">Stoiximan</a></h6>
                        <h6><a href="https://www.foxbet.gr/">Foxbet</a></h6>
                        <h6><a href="https://www.betshop.gr/">Betshop</a></h6>
                        <h6><a href="https://www.bet365.gr/">Bet365</a></h6>
                        <h6><a href="https://www.novibet.gr/">Novibet</a></h6>
                    </div>

                    <div class="col-md-3 bulletsfooter">
                        <h5 class="nav-link">Βαθμολογίες</h5>
                        <hr style="padding-right:0px; margin-left:30px;"/>
                        <h6><a href="/ligkes#bundesliga">Bundesliga</a></h6>
                        <h6><a href="/ligkes#franceLeague">F.Ligue</a></h6>
                        <h6><a href="/ligkes#seriaA">Seria A</a></h6>
                        <h6><a href="/ligkes#premierLeague">P.League</a></h6>
                        <h6><a href="/ligkes#primeraDivision">La Liga</a></h6>
                    </div>

                    <div class="col-md-3 bulletsfooter">
                        <h5 class="nav-link">Καζίνο</h5>
                        <hr style="padding-right:0px; margin-left:30px;"/>
                        <h6><a href="https://www.stoiximan.gr/casino">Stoiximan </a></h6>
                        <h6><a href="https://live.netbet.gr/">NetBet </a></h6>
                        <h6><a href="https://casino.bwin.gr/el/games">BWin </a></h6>
                        <h6><a href="https://www.gowild.com/">GoWild </a></h6>
                        <h6><a href="https://www.21casino.com/en">21 </a></h6>

                    </div>
                </div>
            </div>
        </div>

        <hr style="width: 100%;"/>

        <p id="info" style="align-content: center; align-items: center; text-align: center; padding-bottom: 16px;"><a
                href="/termAndConditions">Bet Masters © 2020 - Όροι χρήσης |</a>
            <span>
                <a href="/cookiePolicy">Πολιτική χρήσης cookies |</a>
            </span>
            <a href="/contactUs">Επικοινωνία</a>
            <a href="http://www.kethea-alfa.gr/">
                <img alt="Kethea" th:src="@{/images/kethea2.jpg}">
            </a>
        </p>

    </footer>
</div>
<script>

    var btn = $('#button');

    $(window).scroll(function () {
        if ($(window).scrollTop() > 400) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
    });

    btn.on('click', function (e) {
        window.scrollTo({top: 0, behavior: 'smooth'});
    });

    $(document).ready(function () {
        $("#navbar").click(function (e) {
            var isActive = $(this).hasClass('.nav-link active');
            $('.nav-link').removeClass('active');
            if (!isActive) {
                $(this).addClass('active');
            }
        });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/CategoryArticles.js"></script>
<script src="/js/filter.js"></script>
</body>

</html>